body{
    margin:0;
    background:#ffffff;
    color:#5a4a42;
    font-family:'Montserrat',sans-serif;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
}

.card{
    max-width:700px;
}
h1{
    font-family:'Great Vibes',cursive;
    font-size:70px;
    font-weight:400;
    color:#b58b64;
    margin:10px 0;
}
.small{
    letter-spacing:3px;
    text-transform:uppercase;
    color:#b58b64;
    font-size:14px;
}

.and{
    font-size:40px;
    color:#b58b64;
}

.subtitle{
    font-size:22px;
    margin-top:25px;
}

.date{
    margin-top:20px;
    font-size:22px;
}

.button{
    display:inline-block;
    margin-top:40px;
    padding:18px 40px;
    background:#c49a6c;
    color:white;
    text-decoration:none;
    border-radius:50px;
    transition:.3s;
}

.button:hover{
    background:#b88757;
}

@media(max-width:700px){

h1{
    font-size:55px;
}

.and{
    font-size:35px;
}

.small{
    font-size:12px;
    letter-spacing:2px;
}

.subtitle{
    font-size:17px;
}

.date{
    font-size:18px;
}

.button{
    padding:16px 35px;
    font-size:15px;
}

}
/* Soft entrance animation */

.card{
    animation: fadeUp 1.5s ease forwards;
}

@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}
